<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
    </head>

<body>
<form action="/dodongchengguohu_add" method="post">
  <p>卖方姓名: <input type="text" name="shoumaixingming" /></p>
  <p>买方姓名: <input type="text" name="goumaixingming" /></p>
  <p>网签合同号: <input type="text" name="hetonghao" /></p>
  <p>契税票号: <input type="text" name="qishuipiaohao" /></p>
  <p>过户专员: <input type="text" name="guohuzhuanyuan" /></p>
  <p>预约时间: <input type="text" name="yuyueshijian" /></p>
  <p>上午或下午: <input type="text" name="shijianduan" /></p>
  <input type="submit" value="Submit" />
</form>


</body>
</html>

